//Colours
$main-pink: #ff4676;
$main-teal: #17d5d1;
$main-yellow: #ffe430;
$main-blue: #0f1c70;
$main-dark: #333333;
$main-light: #ffffff;

//Fonts
$main-font: 'Gotham', 'Montserrat', sans-serif;
$body-font: 'Helvetica', sans-serif;