@import '_vars';
@import 'modules/_nav';
@import 'modules/_carousel';
@import 'modules/_welcome';

h1 {
    font-family: $main-font;
    color: $main-dark;
}

h2 {
    font-family: $main-font;
    color: $main-dark;
}

h4 {
    font-family: $main-font;
    color: $main-dark;
    font-size: 1em;
}

#app {
    padding: 0px;
}
