#homeCarousel {
    #car1 {
        background-color: $main-pink;
    }
    #car2 {
        background-color: $main-teal;
    }
    #car3 {
        background-color: $main-yellow;
    }
    .carouselText {
        background-color: $main-light;
        display: inline-block;
        //width: 50%;
    }
}