#mainFooter {
    margin-bottom: 20px;
    .footer-copyright {
        font-size: 0.8em;
        margin-right: 20px;
        margin-left: 20px;
        display: inline;
    }
    .navbar-brand {
        margin-bottom: 10px;
    }
}

#footerLinks {
    display: inline;
}

#socialMedia {
    img {
        width: 4%;
        margin-right: 20px;
        margin-left: 20px;
    }
}

#adminLink {
    color: $main-dark;
    font-family: $main-font;
    font-size: 0.8em;
    margin-right: 20px;
    margin-left: 20px;
}

//small  size
@media screen and (min-width: 576px) { 
    #mainFooter {
        margin-bottom: 20px;
        .footer-copyright {
            font-size: 0.8em;
            display: inline;
            margin-right: 30px;
        }
        .navbar-brand {
            text-align: center;
        }
    }

    #socialMedia {
        img {
            width: 4%;
            margin-right: 10px;
        }
    }
    
}