.navbar-brand {
    font-family: $main-font;
    color: $main-dark;
    font-size: 1.8em;
    span {
        color: $main-light;
    }
}

.navbar-brand:hover {
    color: $main-dark;
}

.navbar-nav {
    text-align: center;
    font-family: $main-font;
}

.nav-link {
    color: $main-dark;
    transition: .5s;
}

.nav-link:hover {
    color: $main-teal;
}

.navbar-toggler {
    padding-top: 20px;
    width: 47px;
    height: 34px;
    .line {
        width: 100%;
        float: left;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 50px;
    }
}

// fix this so menu turns white again when menu is closed
.navbar-toggler:focus{
    outline: none;
    .line {
        background-color: $main-blue;
    }
}

// make the open mobile nav look nicer?
.navbar-collapse {
    background: rgba(255, 255, 255, 0.9);
    .nav-item {
        border-bottom: 1px solid $main-blue;
        padding: 10px 0;
    }
}

.fixed-top.scrolled {
    background-color: $main-pink !important;
    transition: background-color 0.5s linear;
}

//small size
@media screen and (min-width: 576px) { 
    .navbar-toggler {
        .line {
            height: 3px;
        }
    }
}

//large size
@media screen and (min-width: 992px) { 
    .navbar-brand {
        font-size: 2em;
        padding-left: 30px;
    }

    .navbar-collapse {
        background: none;
        .nav-item {
            border-bottom: none;
        }
    }

    .navbar-nav{
        padding: 0 20px;
        li {
            margin: 0 10px;
        }
    }

    .nav-link {
        font-size: 0.8em;     
    }

    .nav-link:hover {
        border: 3px solid $main-blue;
        border-radius: 50px;
        color: $main-dark;
    }
}

//extra large size
@media screen and (min-width: 1200px) { 
    .nav-link {
        font-size: 1em;     
    }

    .navbar-nav{
        li {
            margin: 0 15px;
        }
    }
}