#welcomeSection {
    text-align: center;
}

#welcomeMessage{
    background-color: $main-teal;
    margin: 10% 0 5% 0;
    padding: 8% 3%;
    span {
        color: $main-light;
    }
}

.welcomeCategory {
    padding: 8% 10%;
    margin-bottom: 30px;
    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }
    .btn {
        margin-bottom: 30px;
    }
    img {
        position: absolute;
        width: 90%;
        left: 30px;
    }
}

#welcomeSafe {
    h2 {
        color: $main-pink;
    }
    .btn-outline-primary {
        color: $main-pink;
    }
    .btn-outline-primary:hover {
        background-color: $main-pink;
        border: 4px solid $main-pink;
        color: $main-light;
    }
    .circle {
        background-color: $main-pink;
    }
}

#welcomeTest {
    h2 {
        color: $main-teal;
    }
    .btn-outline-primary {
        color: $main-teal;
    }
    .btn-outline-primary:hover {
        background-color: $main-teal;
        border: 4px solid $main-teal;
        color: $main-light;
    }
    .circle {
        background-color: $main-teal;
    }
}

#welcomeStigma {
    h2 {
        color: $main-yellow;
    }
    .btn-outline-primary {
        color: $main-yellow;
    }
    .btn-outline-primary:hover {
        background-color: $main-yellow;
        border: 4px solid $main-yellow;
        color: $main-light;
    }
    .circle {
        background-color: $main-yellow;
    }
}

//medium size
@media screen and (min-width: 768px) { 
    .welcomeCategory {
        margin-bottom: 10px;
        text-align: left;
        h2 {
            margin: 30px 0;
        }
    
        h3 {
            margin-bottom: 15px;
        }
        .btn {
            margin-bottom: 0px;
        }
        img {
            position: absolute;
            width: 120%;
            left: 0px;
        }
        .circle {
            margin-left: 50px;
        }
    }
}